@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;600;700&display=swap');

:root {
    --color-primary: #548dd4;
    --color-white: #fff;
    --color-background: #f6f6f9;
    --box-shadow: 0 2rem 3rem rgba(132, 139, 200, 0.18);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: var(--color-background);
}

.container {
    width: 600px;
    background: var(--color-white);
    border-radius: 30px;
    box-shadow: var(--box-shadow);
    overflow: hidden;
    padding: 20px;
    gap: 2rem;
}

.form-box {
    width: 100%;
    color: var(--color-primary);
}

.form-box h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

.input-box {
    position: relative;
    margin: 20px 0;
}

.input-box input,
.input-box select {
    width: 100%;
    padding: 10px 12px;
    border-radius: 8px;
    border: 2px solid var(--color-primary);
    outline: none;
    font-size: 14px;
    box-sizing: border-box; /* Ensures inputs stay within their container */
}

.input-box select {
    cursor: pointer;
}

.button {
    width: 100%;
    background-color: var(--color-primary);
    border: none;
    border-radius: 8px;
    padding: 10px;
    color: var(--color-white);
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}

.btn:hover {
    background-color: #3f71e8;
}

.form-label {
    font-size: 18px; /* Increased size */
    font-weight: 600;
    color: var(--color-primary);
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center; /* Center the label */
    display: block;
}